[submodule "SW_design/PlatformIO_C6/lib/pressure.arduino.ICP201XX"]
	path = SW_design/PlatformIO_C6/lib/pressure.arduino.ICP201XX
	url = git@github.com:tdk-invn-oss/pressure.arduino.ICP201XX.git
[submodule "SW_design/PlatformIO_C6/lib/LSM6DSL"]
	path = SW_design/PlatformIO_C6/lib/LSM6DSL
	url = git@github.com:stm32duino/LSM6DSL.git
[submodule "SW_design/PlatformIO_C6/lib/BH1750"]
	path = SW_design/PlatformIO_C6/lib/BH1750
	url = git@github.com:claws/BH1750.git
[submodule "SW_design/PlatformIO_C6/lib/SparkFun_ICM-20948_ArduinoLibrary"]
	path = SW_design/PlatformIO_C6/lib/SparkFun_ICM-20948_ArduinoLibrary
	url = git@github.com:sparkfun/SparkFun_ICM-20948_ArduinoLibrary.git
[submodule "SW_design/PlatformIO_C6/lib/--force"]
	path = SW_design/PlatformIO_C6/lib/--force
	url = git@github.com:DFRobot/DFRobot_LedDisplayModule.git
[submodule "SW_design/PlatformIO_C6/lib/DFRobot_LedDisplayModule"]
	path = SW_design/PlatformIO_C6/lib/DFRobot_LedDisplayModule
	url = git@github.com:DFRobot/DFRobot_LedDisplayModule.git
[submodule "SW_design/PlatformIO_C6/lib/SparkFun_AS7343_Arduino_Library"]
	path = SW_design/PlatformIO_C6/lib/SparkFun_AS7343_Arduino_Library
	url = https://github.com/sparkfun/SparkFun_AS7343_Arduino_Library.git
[submodule "SW_design/PlatformIO_C6/lib/SparkFun_Toolkit"]
	path = SW_design/PlatformIO_C6/lib/SparkFun_Toolkit
	url = https://github.com/sparkfun/SparkFun_Toolkit.git
[submodule "SW_design/PlatformIO_C6/lib/SparkFun_AS7331_Arduino_Library"]
	path = SW_design/PlatformIO_C6/lib/SparkFun_AS7331_Arduino_Library
	url = https://github.com/sparkfun/SparkFun_AS7331_Arduino_Library.git
